@import url(core_stylesheet.css);
@import url(euclid_stylesheet.css);


html{
    text-align: center;
    font-family: 'euclid_circular_bregular'; 
    word-spacing: 3px;  
    overflow: hidden;
}

h1, h5, .notify{
    font-family: 'core_sans_c65_bold';
    font-weight: 600;
}

h1{
    font-size: 30px !important;
}

#formError{
    margin-top: 1rem;
}

.notify{
    padding-top: 5px;
    font-size: 16px;
}

.logo{
   width: 150px;
}

#counter{
    color: #F58220;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    word-spacing: 3px;
    font-family: 'euclid_circular_bmedium'; 
}

.btnContinue{
    background-color: #008e97 !important;
    color: white !important;
    width: 100%;
    height: 50px !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input{
    height: 50px;
    width: 220px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 30px 0px 45px;
    background-color: #F9EADE;
    font-size: 12px !important;
}

input:focus {
    outline: none !important;
}

.mailIcon{
    margin-left: 1.5rem;
    margin-top: 1.2rem;
    position: absolute;
}

.piggyBank{
    height: 200px;
    max-width: 100vw;
}

.submitBtn{
    height: 50px;
    width: 88px;
    color: white;
    background-color: #F58220;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-style: none;
    margin-left: -10px !important;
    font-size: 12px;
}

.row{
    margin-top: -1rem !important;
}

footer{
    position: absolute;
    margin-top: 30rem !important;
    padding-bottom: .5rem;
}

small{
    color: #828282;
    font-size: 12px !important;
    margin-top: 3rem !important;
}

.col-12.top{
    position: absolute;
    margin-top: 30rem;
    padding-bottom: 1rem;
    /* -webkit-margin-before: 30rem; */
}

.successGif{
    width: 200px;
}

.modal-content{
    border-radius: 20px !important;
    padding: 2rem;
}

@media only screen and (max-width: 360px) {
    input{
        height: 50px;
        width: 200px;
    }
    
    .submitBtn{
        height: 50px;
        width: 70px;
        margin-left: -10px !important;
    }
}

@media only screen and (max-width: 500px) and (min-height: 600px) {
    .row{
        margin-top: -1.5rem !important;
    }

    footer{
        position: fixed !important;
        margin-top: 30rem !important;
    }
}

@media only screen and (max-width: 500px) and (min-height: 800px) {
    .row{
        margin-top: 5rem !important;
    }

    footer{
        position: fixed !important;
        margin-top: 30rem !important;
    }
}

@media only screen and (min-width: 768px) {
    html{
        text-align: left;
        word-spacing: 0;
    }

    #formError{
        float: left;
    }

    #counter{
        font-size: 28px;
        margin-bottom: 0px;
        word-spacing: 1px !important;
    }

    .col-12.top{
        position: unset !important;
        margin-top: 0rem !important;
    }

    input{
        height: 50px;
        width: 250px;
    }
    
    .piggyBank{
        height: 350px;
        max-width: 100vw;
    }
    
    .submitBtn{
        height: 50px;
        width: 90px;
        margin-left: -10px !important;
    }

    footer{
        position: unset !important;
        margin-top: -6rem !important;
        padding-top: 3rem;
    }
}

@media only screen and (min-width: 1024px) {
    html{
        word-spacing: 3px;
        overflow-y: hidden;
    }

    .row{
        margin-top: -4rem !important;
    }

    .col-12.top{
        padding-top: 5rem;
        position: unset !important;
        margin-top: 0rem !important;
    }

    .logo{
        margin-left: -2rem;
    }

    h1{
        padding-top: 0rem;
        padding-bottom: 0rem !important;
        font-size: 50px !important;
    }

    .notify{
        padding-top: 0rem;
    }

    #counter{
        font-size: 24px;
    }

    input{
        height: 50px;
        width: 350px;
    }
    
    .piggyBank{
        height: 500px;
        max-width: 100vw;
    }
    
    .submitBtn{
        height: 50px;
        width: 92px;
        margin-left: -10px !important;
    }

    footer{
        margin-top: -5rem !important;
        padding-top: 3rem;
    }
}

@media only screen and (min-width: 1100px) {
    .col-12.top{
        padding-top: 7rem;
    }

    footer{
        margin-top: -7rem !important;
        padding-top: 3rem;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

@media only screen and (min-width: 1250px) {
    .row{
        margin-top: 0 !important;
    }

    footer{
        margin-top: -6rem !important;
    }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .col-12.top{
        position: absolute;
        margin-top: 15rem;
    }
}}